<h1>【マスタ】コンテンツを検索するための情報(除外系) INDEX</h1>

<ul>
  <% MKeywordSetting.all.each do |m_keyword_setting| %>
    <li>
      exclud_url: <%= m_keyword_setting.exclud_url %><br>
      exclud_tag: <%= m_keyword_setting.exclud_tag %><br>
      <%= link_to "Edit", edit_m_keyword_setting_path(m_keyword_setting) %>
      <%= button_to "Delete", m_keyword_setting_path(m_keyword_setting), method: :delete %>
    </li>
  <% end %>
</ul>

<p><%= link_to "【マスタ】キーワード設定作成", new_m_keyword_setting_path %></p>
<p><%= link_to "トップ", root_path %></p>
